
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: auto;
    position: relative;
}

html {
    height: 100%;
    background-color: #efefef;
}

body {
}

#div_first {
    margin-bottom: 2rem;
}

.slideshow {
    margin: 0rem 0.8rem;
}

#img_postion {
    margin-top: 2rem;
    text-align: center;
}

#img_1 {
    width: 100%;
}

#img_2 {
    width: 65%;
}

.div_box {
    overflow-y: auto;
    height: 29rem;
    width: 100%;
}

.top-warning {
    font-size: 12px;
    height: 3.5rem;
    line-height: 1.1rem;
    text-align: center;
    color: #777777;
    margin-top: 0.3rem;
}

.top-warning > span:first-child {
    display: block;
    padding-top: .6rem;
}

.div_crown {
    height: 0rem;
}

.div_crown > img {
    margin-left: 1.8rem;
    margin-top: -.8rem;
    width: 1.1rem;
    height: 1.1rem;
}

.sup-container {
    position: relative;
    margin: 0 auto;
}

#sup-top {
    margin: 5.6rem 1.5rem 0rem 1.5rem;
    height: 0.5rem;
    text-align: center;
    z-index: 9;
}

#sup-top > div:first-child {
    height: 2.5rem;
    width: 50%;
    float: left;
    font-weight: 700;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

#sup-top > div:last-child {
    height: 2.5rem;
    width: 50%;
    float: left;
    font-weight: 700;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(000, 000, 000, 0.5);
    color: #efefef;
}

#sup-top > div > span {
    font-size: 15px;
    line-height: 2.5rem;
}

/**/
.sup-sup {
    min-height: 21.42rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 2rem 1.5rem 1rem;
    border-radius: 0px 0px 20px 20px;
}

.paihang_daughter {
    width: 100%;
    height: 7.5rem;
}

.paihang_daughter > div {
    width: 33%;
    float: left;
    height: 5rem;
    line-height: 5.5rem;
    text-align: center;
}

.paihang_daughter > div:nth-child(2) > img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-top: 1.3rem;
}

.span_RANK {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.RANK_adjacent {
    font-weight: 300;
    font-size: 17px;
    margin-top: -4.2rem;
}

.span_name {
    font-weight: 500;
    font-size: 17px;
    margin-top: -1.8rem;
    width: 100%;
}

.sup-sup > div {
    overflow: hidden;
    margin: 1.05rem 2.05rem;
}

.div_list {
    overflow: hidden;
    padding: 0rem 0px;
    height: 2.9rem;
    color: black;
    line-height: 2.9rem;
    font-size: 15px;
}

.div_list > img {
    width: 2.4rem;
    height: 2.4rem;
    float: left;
    border-radius: 50%;
    border: solid 1px #efefef;
    margin-top: 0.25rem;
}

.div_list > span {
    width: 1rem;
    float: left;
    color: #333;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    margin-right: 1rem;
    margin-left: 0.2rem;
}

.div_list > div {
    float: right;
    width: 100%;
    margin-left: -9rem;
}

.div_list > div > div {
    margin-left: 6rem;
}

.span_name1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
    width: 50%;
}

.span_name2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: right;
    margin-right: 1rem;
}

#span_issue {
    margin-top: 0.3rem;
    font-size: 12px;
    text-align: center;
    margin-bottom: 2rem;
    color: black;
}

#div_2 {
    position: absolute;
    width: 100%;
    height: 2rem;
    text-align: center;
    z-index: 2;
}

#div_2 > button {
    border: black 1px solid;
    border-radius: 30px;
    height: 2rem;
    line-height: 1rem;
    width: 8rem;
    font-weight: 900;
    font-size: 15px;
    background-color: #ededed;
    box-shadow: 3px 2px rgba(000, 000, 000, 0.7);
    margin: 0 0.5rem;

}

#div_2_brother {
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    text-align: center;
    font-size: 17px;
}

#div_2_brother ul li {
    width: 80%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    list-style: none;
    border-bottom: 1px black solid;
    margin: 0 auto;
    letter-spacing: 0px;
    font-size: 15px;
}

#div_2_brother > div {
    overflow-y: auto;
    border: black 1px solid;
    width: 8rem;
    max-height: 7.5rem;
    min-height: 2.5rem;
    background-color: #ededed;
    border-radius: 0px 0px 15px 15px;
    display: inline-block;
    position: absolute;
    top: 0;
}

#div_2_brother > div:first-child {
    margin-left: -8.6rem;
}

#div_2_brother > div:last-child {
    margin-left: 0.7rem;
}

#div_2_brother > div:first-child > ul {
    margin-top: 1rem;

}

#div_2_brother > div:last-child > ul {
    margin-top: 1rem;
}

.div_21 {
    float: right;
    width: 6.5rem;
    height: 2.4rem;
    background-color: #efefef;
    border-radius: 15px;
    border: 1px black solid;
    padding-top: 0.2rem;
}

#div_but > div:first-child {
    text-align: center;
}

#div_but > div:first-child > button {
    border: black 1px solid;
    border-radius: 30px;
    height: 2rem;
    line-height: 1rem;
    width: 100%;
    font-weight: 800;
    font-size: 15px;
    background-color: #ededed;
    box-shadow: 3px 2px rgba(000, 000, 000, 0.7);
    margin: 1.5rem 1rem 0rem 1rem;
}

#div_but > div:first-child button {
    border: black 1px solid;
    border-radius: 30px;
    height: 2rem;
    line-height: 1rem;
    width: 18.5rem;
    font-weight: 900;
    font-size: 15px;
    background-color: #ededed;
    box-shadow: 3px 2px rgba(000, 000, 000, 0.7);
}

#div_but > div:last-child {
    text-align: center;
    margin-top: 1rem;
}

#div_but > div:last-child button {
    border: black 1px solid;
    border-radius: 30px;
    height: 2rem;
    line-height: 1rem;
    width: 5.5rem;
    font-weight: 900;
    font-size: 15px;
    background-color: #ededed;
    box-shadow: 3px 2px rgba(000, 000, 000, 0.7);
    margin: 0rem 0.3rem;
}
#div_but a{
    text-decoration:none;
}
/*包含以下五种的链接*/
#div_but a {
    text-decoration: none;
}
/*正常的未被访问过的链接*/
#div_but a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
#div_but a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
#div_but a:hover {
    text-decoration: none;
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
#div_but a:active {
    text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
#div_but a:focus {
    text-decoration: none;
}
#div_bottom {
    margin-top: 2.9rem;
    text-align: center;
}

#div_bottom > div {
    text-align: center;
    display: inline;
    letter-spacing: 1.5rem;
}

#div_bottom > div > img {
    width: 40%;
}

#div_last {
    margin-top: 2.5rem;
    height: 2rem;
}

#div_last > div:nth-child(2) {
    float: left;
    width: 23.33333333333%;
    text-align: center;
}

#div_last > div:first-child {
    float: left;
    border-bottom: #666666 1px solid;
    width: 30.33333333333%;
    height: 1rem;
    line-height: .5rem;
    margin-left: 8%;
}

#div_last > div:last-child {
    float: right;
    border-bottom: #666666 1px solid;
    width: 30.33333333333%;
    height: 1rem;
    letter-spacing: 5px;
    margin-right: 8%;
}

#div_img_last {
    margin-top: 1rem;
    text-align: center;
}

#div_img_last > img {
    width: 100%;
}

#div_bot {
    height: 3rem;
    text-align: center;
    font-size: 12px;
    color: #666666;
    margin-top: 2.5rem;
    letter-spacing: 1px;
}
