* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 1rem;
    background-color: #efefef;
}


html {
    height: 100%;
    background-color: #efefef;
}

body {
    /*background-image: url("../images/aaa1.png");*/
    /*background-repeat: repeat;*/
    /*background-size: 20%;*/
    background-color: #efefef;
}


#div_1 {
    height: 2rem;
    width: 80%;
    margin: auto;
}

.div_box {
    overflow-y: auto;
    height: 20rem;
}

.top-warning {
    background-color: #efefef;
    font-size: 13px;
    padding: 8px 8px;
    line-height: 1.5;
    border-radius: 6px;
    color: #ff862d;
    margin: 0 1.05rem .8rem !important;
    border: 1px black solid;
}

.sup-container {
    position: relative;
    padding-bottom: 100px;
}


.sup-sup {
    min-height: 21.42rem;
    background-color: #efefef;
    margin: 1rem 1.5rem 1rem;
    border-radius: 1.2rem;
    padding-top: 1.05rem;
    padding-bottom: .6rem;
    border: 1px black solid;
}

.sup-sup > h3 {
    font-size: 1.05rem;
    font-weight: bold;
    color: #333;
}

.sup-sup > div {
    overflow: hidden;
    margin: 1.05rem 1.05rem;
}

#box > div:nth-child(2) > div {
    overflow: hidden;
    padding: 0.57rem 0px;
}

#box > div:nth-child(2) > div > img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.05rem;
    float: left;
    border-radius: 50%;
    border: solid 1px #efefef;
}

#box > div:nth-child(2) > div > span {
    width: 1.357rem;
    float: left;
    color: #333;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 1.285rem;
}

#box > div:nth-child(2) > div > div {
    float: right;
    overflow: hidden;
    width: 100%;
    margin-left: -6rem;
}

#box > div:nth-child(2) > div > div > div {
    margin-left: 6rem;
}

.span_name1 {
    line-height: 1.5;
    font-size: .9rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-top: .45rem;
    width: 6rem;
    float: left;
    margin-right: -7.142rem;
}

.span_name2 {
    line-height: 1.5;
    font-size: .9rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-top: .45rem;
    width: 5rem;
    float: right;
    margin-right: -2rem;
}


ul {
    list-style: none;
    overflow: hidden;
    border: solid 1px #333333;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

#a_1 {
    width: 6rem;
    height: 2.4rem;
    border-radius: 15px;
    background-color: #efefef;
    float: right;
    border: 1px black solid;
    margin-left: 0.2rem;
}

#tag li {
    float: left;
    width: 100%;
    color: black;
    padding: 0.3rem 0px;
    text-align: center;
    line-height: 1.8;
    font-size: 1rem;
}

#div_2 {
    width: 100%;
    height: 2.4rem;
    margin: 1rem -1.5rem;
}

.div_21 {
    float: right;
    width:6.5rem;
    height: 2.4rem;
    background-color: #efefef;
    border-radius: 15px;
    border: 1px black solid;
    margin-left: 0.2rem;
}

#img_1 {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    width: 10%;
}

.dropdown-menu1{
    position: absolute;
    top: 100%;
    display: none;
    float: left;
    min-width: 6.5rem;
    overflow-y: auto;
    max-height: 6rem;
    margin: 0px 0 0;
    list-style: none;
    background-color: #efefef;
    border: 1px solid #888888;
    border-radius: 6px;
    text-align: center;
}

.dropdown-menu2{
    position: absolute;
    top: 100%;
    display: none;
    float: left;
    min-width: 6.5rem;
    overflow-y: auto;
    max-height: 6rem;
    margin: 0px 0 0;
    list-style: none;
    background-color: #efefef;
    border: 1px solid #888888;
    border-radius: 6px;
    text-align: center;
}

