float {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

img {
    position: relative;
}

.result {
    width: 200px;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
}


#file_input {
    display: none;
}


.delete {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    line-height: 200px;
    z-index: 10;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #777;
    opacity: 0;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}


/*.delete:hover{*/
/*cursor: pointer;*/
/*opacity: 1;*/
/*}*/

.container_1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}