<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../static/css/contact_us.css"
          th:href="@{../static/css/contact_us.css}">
</head>
<body style="background-color: #ebdccf;background-size: 100%;">
<div id="div_1">
    <div>
        <span>联系我们</span>
    </div>
    <div class="main">
        <span>【 媒体平台 】</span>
        <img id="img1" src="../static/images/contact2.png"
             th:src="@{../static/images/contact2.png}">
    </div>
    <div class="main">
        <span>【 合作洽谈 】</span>
        <img id="img2" src="../static/images/contact1.png"
             th:src="@{../static/images/contact1.png}">
    </div>
    <div>
        <div>
            <img  src="../static/images/microblog.png"
                  th:src="@{../static/images/microblog.png}">
            <span>微博官方账号</span>
        </div>
        <div>
            <img  src="../static/images/tencent.png"
                  th:src="@{../static/images/tencent.png}">
            <span>微信公众号</span>
        </div>
        <div>
            <img  src="../static/images/service.png"
                  th:src="@{../static/images/service.png}">
            <span>微信群管理员<br/><div id="span_business">(商务合作请注明)</div></span>
        </div>
    </div>
    <div>
        <div>

            <img  src="../static/images/img_bom.png"
                  th:src="@{../static/images/img_bom.png}">
        </div>
        <div>
            <img  src="../static/images/img_bom2.png"
                  th:src="@{../static/images/img_bom2.png}">
        </div>
    </div>
</div>
<div style="height: 2rem">
</div>
</body>
</html>