<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>获取更多积分</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../static/css/explain.css" th:href="@{../static/css/explain.css}">
</head>
<body style="background-color: #ebdccf;background-size: 100%;">
<div id="div_1">
    <div>
        <span>获取更多积分</span>
    </div>
    <div>
        <span>Q:如何获取更多积分？</span>
        <div>
            <p>邀请新读者 + 每日文章打卡 + 读者群不定期福利 + KOL推荐福利</p>
        </div>
        <span>Q:如何定义新读者？</span>
        <div>
            <p>未曾关注过ONOFF变装公众号的人。如果已经关注过，是不会助力加分的。</p>
        </div>
        <span>Q:关注、取关、再关注、再取关，可以反复加分吗？</span>
        <div>
            <p>首次助力关注会加分，首次取关会减分。再关注，再取关分数都不会有变化。
        </div>
        <span>Q:每日文章打卡是如何操作的？</span>
        <div>
            <p>每日的文章中会出现打卡码，长按扫码识别即可加分。打卡越早，积分可能越高。
        </div>
        <span>Q:KOL推荐福利在哪里？</span>
        <div>
            <p>会有KOL在其社交媒体分享“关键词”助力加分，也许你关注的KOL就有参与。加入读者群也可以获得KOL推荐福利信息。</p>
        </div>
        <div style="height: 1.5rem"></div>
        <div id="div_shuo">
            <span>详细说明可返回查看【积分规则】</span>
        </div>
        <div id="div_bot">
            <span>*活动最终解释权归ONOFF变装所有</span>
        </div>
    </div>
</div>
<div id="div_bottom">
    <div>
        <img src="../static/images/logn_qr.png"
             th:src="@{../static/images/logn_qr.png}">
    </div>
</div>
</body>
</html>