<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/redact.css" th:href="@{../static/css/redact.css}">
    <script src="../static/jquery/jquery.js" th:src="@{../static/jquery/jquery.js}"></script>
    <!--jquery在上不然不起作用-->
    <script src="../static/js/redact.js" th:src="@{../static/js/redact.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
            function upload(){
                if($('#file_input').val() == null||$('#file_input').val()==''){  //检查input[type=file]是否有值
                    alert("请选择图片再进行上传操作！");
                    return false;
                }
            }
    </script>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="container_1">
        <button type="button" id="select">选择图片</button>
        <input type="file" name="myfile" id="file_input"/>
    </div>
    <div class="container_1" id="img-box"></div>
    <div class="container_1" style="display: block">
        <input type="submit" class="btn btn-primary" onclick="upload()" value="上传"/>
    </div>
    <p style="color:black" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
</form>
</body>
</html>