<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>ONOFF变装积分榜</title>
    <link rel="stylesheet" type="text/css" href="../static/css/list.css" th:href="@{../static/css/list.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="../static/jquery/jquery-2.1.4.js"
            th:src="@{../static/jquery/jquery-2.1.4.js}"></script>
    <script th:src="@{../static/js/list.js}" src="../static/js/list.js"></script>
</head>
<body>
<img id="img_1" src="../static/images/logo.png" th:src="@{../static/images/logo.png}">
<div class="sup-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="active" th:class="carousel-item+${iterStat.count==1?' active' : ''}"
                 th:each="m,iterStat:${Material}">
                <img src="" th:src="${m.getUrl()}"
                     class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="div_2">
        <div class="btn-group div_21" >
            <button id="but_history2" class="btn dropdown-toggle" data-toggle="dropdown">
                切换月榜
            </button>
            <div class="dropdown-menu2">
                <div>
                    <button class="dropdown-item"
                            th:text="本月"></button>
                    <button class="dropdown-item" th:if="${month!=null}"
                            th:text="上月"></button>
                </div>
            </div>
        </div>
        <div class="btn-group div_21">
            <button id="but_history" class="btn dropdown-toggle" data-toggle="dropdown">
                切换周榜
            </button>
            <div class="dropdown-menu1" th:if="${Period!=null}">
                <div>
                    <button class="dropdown-item" th:value="${Period}"
                       th:text="本周"></button>
                    <div th:if="${week!=null}" th:each="w,iterStat:${week}">
                        <button class="dropdown-item" th:id="${w.getId()}" th:text="${w.getDate()}"></button>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn"
           id="a_1" th:title="${Code}" th:if="${Code!=null}" th:href="@{/record/{code}(code=${Code})}"
           role="button">积分记录</a>
    </div>
    <div class="sup-sup">
        <div id="sup-sup" th:fragment="sup-sup">
            <ul id="tag">
                <li class="" th:if="${historyPeriod==null}">本周排行榜</li>
                <li class="" th:if="${historyPeriod!=null}" th:text="${historyPeriod+'排行榜'}"></li>
            </ul>
            <div id="box">
                <div id="supporters" style="display: none;"></div>
                <div id="paihang" style="display: block;" class="div_box">
                    <div th:if="${Relation!=null}" style="border-bottom-style:solid;border-width:1px;border-color: #888888">
                        <span th:text="${Relation!=null?Relation.getRanking():''}"></span>
                        <img id="img_headImg"
                             src="" th:src="${Relation!=null?Relation.getHeadImgUrl():''}">
                        <div>
                            <div><span class="span_name1" th:text="${Relation!=null?'我':''}"></span><span
                                    class="span_name2" th:text="${Relation!=null?Relation.getRecord():''}"></span>
                            </div>
                        </div>
                    </div>
                    <div th:each="l,iterStat:${Leaderboard}">
                        <!--<span th:text="${iterStat.count}"></span>-->
                        <span th:text="${l.getRanking()}">12345678</span>
                        <img
                                src="" th:src="${l.getHeadImgUrl()}">
                        <div>
                            <div>
                                <span class="span_name1" th:text="${l.getNickName()}"></span>
                                <span class="span_name2" th:text="${l.getRecord()}">123456789</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-warning"
                     style="text-align: center; color: #FF6138; font-size: .7rem; margin: 0 !important;" th:text="${Date}">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>