<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>ONOFF官方提供</title>
    <link rel="stylesheet" type="text/css" href="../static/css/middle.css" th:href="@{../static/css/middle.css}">
</head>
<body style="background-color: #ebdccf;background-size: 100%;">
<div>
    <img id="img_1" th:src="@{../static/images/radar.png}" src="../static/images/radar.png" alt="Paris">
    <div>
        <div></div>
        <img th:src="@{../static/images/qr.jpg}" src="../static/images/qr.jpg" alt="Paris">
        <h5>长按识别二维码<br/>关注公众号即可帮助好友助力</h5>
    </div>
    <img id="img_2" th:src="@{../static/images/logo.png}" src="../static/images/logo.png">
    <p>本页面由 ONOFF变装 官方提供</p>
</div>
</body>
</html>