<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>积分记录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/record.css" th:href="@{../static/css/record.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="../static/jquery/jquery-3.2.1.min.js"
            th:src="@{../static/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{../static/js/record.js}" src="../static/js/record.js"></script>
</head>
<body style="background-color: #ebdccf;background-size: 100%;">
<div id="img_postion">
    <img id="img_2" src="../static/images/record_trophy.png" th:src="@{../static/images/record_trophy.png}">
</div>
<div id="sup-top">
    <div id="week_list">
        <span>本周积分</span>
    </div>
    <div id="month_list">
        <span>本月积分</span>
    </div>
</div>
<div class="sup-sup">
    <div>
        <div class="div_week" th:if="${weekRecord!=null}" th:each="r,iterStat:${weekRecord}">
            <div class="div_11">
                <span th:if="${r.getSource()==1}">邀请新用户</span>
                <span th:if="${r.getSource()==2}">好友取消关注</span>
                <span th:if="${r.getSource()==3}">签到打卡</span>
                <span th:if="${r.getSource()==4}">QL邀请</span>
                <br/>
                <span class="span_time" th:text="${r.getTime()}"></span>
            </div>
            <div>
                <span class="span_record" th:text="${r.getRecord()>0?'+'+r.getRecord():r.getRecord()}"></span>
            </div>
        </div>
        <div class="div_month" th:if="${Record!=null}" th:each="r,iterStat:${Record}">
            <div class="div_11">
                <span th:if="${r.getSource()==1}">邀请新用户</span>
                <span th:if="${r.getSource()==2}">好友取消关注</span>
                <span th:if="${r.getSource()==3}">签到打卡</span>
                <span th:if="${r.getSource()==4}">QL邀请</span>
                <br/>
                <span class="span_time" th:text="${r.getTime()}"></span>
            </div>
            <div>
                <span class="span_record" th:text="${r.getRecord()>0?'+'+r.getRecord():r.getRecord()}"></span>
            </div>
        </div>
        <img src="../static/images/remind.png"/>
    </div>
    <div>
        <span id="span_weeksum" th:text="总积分 +${weeksum}"></span>
        <span id="span_sum" th:text="总积分 +${sum}"></span>
    </div>
</div>
<div id="div_bottom">
    <div>
        <img src="../static/images/logn_qr.png"
             th:src="@{../static/images/logn_qr.png}">
    </div>
</div>
<div id="div_bot">
    <span>*活动最终解释权归ONOFF变装所有</span>
</div>
</body>
</html>