<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ONOFF官方提供</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <style>
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<img th:src="@{../static/images/timg.png}" src="../static/images/timg.png" alt="Paris" style="width:70%;">
<h6 style="margin-top: 1rem;text-align:center">数据已被加密</h6>
</body>
</html>