<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ONOFF打卡</title>
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../static/css/sign.css" th:href="@{../static/css/sign.css}">
    <script src="../static/jquery/jquery-3.2.1.min.js"
            th:src="@{../static/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{../static/js/sign.js}" src="../static/js/sign.js"></script>
</head>
<body style="background-color: #ebdccf;background-size: 100%;">
<div>
    <img id="img_1" th:src="@{../static/images/radar.png}" src="../static/images/radar.png" alt="Paris">
    <div>
        <span class="hh" th:text="${msg}"></span>
    </div>
    <img id="img_2" th:src="@{../static/images/logo.png}" src="../static/images/logo.png">
    <p>本页面由 ONOFF变装 官方提供</p>
</div>
<div>
    <img id="img_img" th:src="@{../static/images/2.gif}" src="../static/images/2.gif">
</div>
</body>
</html>