<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onoff.wechatofficialaccount.mapper.BAMMapper">

    <select id="querySignIn" resultType="com.onoff.wechatofficialaccount.entity.DO.SignIn">
        select * from sign_in
        <where>
            unionid=#{param1}
            <if test="param2!=null">
                and qr_time=#{param2}
            </if>
            <if test="param2==null">
                and stype=0
            </if>
        </where>
    </select>

    <select id="countSignIn" resultType="java.lang.Integer">
       SELECT COUNT(1) FROM `sign_in` WHERE  qr_time=#{time}
    </select>

    <update id="putSignIn">
        update sign_in set stype=1
        <where>
            <if test="unionId!=null">
                unionid=#{unionId}
            </if>
            and stype=0
        </where>
    </update>
    <insert id="saveSignIn" parameterType="com.onoff.wechatofficialaccount.entity.DO.SignIn">
        insert into sign_in(unionid,time,qr_time,period) values (#{unionid},#{time},#{qr_time},#{period})
    </insert>
    <select id="queryPeriod" resultType="java.lang.Integer">
        SELECT IFNULL(MAX(period),1) FROM `integral`
    </select>

    <select id="getAdmin" resultType="com.onoff.wechatofficialaccount.entity.BAM.Admin">
       SELECT * FROM admin  WHERE account=#{a} AND password=#{b}
    </select>

    <select id="queryRelationidPeriod" resultType="java.lang.Integer">
       SELECT IFNULL(period,0) FROM integral  WHERE record=10 AND relationid=#{relationId}
    </select>

    <select id="getUser" resultType="com.onoff.wechatofficialaccount.entity.User"
            resultMap="getUserMap">
       SELECT * FROM user  WHERE openid=#{openId}
    </select>

    <select id="getMaterial" resultType="com.onoff.wechatofficialaccount.entity.BAM.Material"
            resultMap="getMaterialMap">
        SELECT * FROM material
        <where>
            <if test="type!=null">
                type=#{type}
            </if>
        </where>
    </select>

    <insert id="saveMaterial" parameterType="com.onoff.wechatofficialaccount.entity.BAM.Material">
        INSERT INTO material(media_id,url,type)VALUES(#{mediaId},#{url},#{type})
    </insert>

    <delete id="delMaterial" parameterType="String">
        DELETE FROM material WHERE media_id=#{mediaId}
    </delete>

    <insert id="saveRelation" parameterType="String">
        INSERT INTO relation(openid,unionid,time)VALUES(#{a},#{b},#{c})
    </insert>

    <select id="getRelation" resultType="com.onoff.wechatofficialaccount.entity.BAM.Relation"
            resultMap="getRelationMap">
       SELECT * FROM relation where unionid=#{unionId}
    </select>

    <delete id="delRelation" parameterType="String">
        DELETE FROM relation WHERE unionid=#{unionId}
    </delete>
    <update id="putRelation">
        update relation set rtype=#{a},time=#{c} where unionid=#{b}
    </update>

    <insert id="saveIntegral">
        insert into
        <if test="relationId!=null">
            integral(openid,record,source,time,period,relationid)values
            (#{openId},#{record},#{source},#{time},#{period},#{relationId})
        </if>
        <if test="relationId==null">
            integral(openid,record,source,time,period)values (#{openId},#{record},#{source},#{time},#{period})
        </if>
    </insert>
    <select id="getIntegral" resultType="java.lang.Integer">
        SELECT SUM(record) FROM integral WHERE openid=#{openId}
        <if test="period!=0">
            and period=#{period}
        </if>
    </select>

    <select id="getIntegralUser" resultType="java.lang.Integer">
      SELECT count(1) FROM integral WHERE openid=#{openId} and period=#{period}
    </select>

    <select id="getIntegralrecord" parameterType="String"
            resultType="com.onoff.wechatofficialaccount.entity.BAM.Integral">
        select record,source,time,period from integral WHERE openid=#{openId} AND source!=0 ORDER BY time DESC;
    </select>

    <select id="getLeaderboard" resultType="com.onoff.wechatofficialaccount.entity.VO.Leaderboard"
            resultMap="getLeaderboardMap">
        SELECT
        i.openid as openid,
        u.nickname AS nickname,
        u.headimgurl AS headimgurl,
        i.record AS record
        FROM
        ( SELECT openid, SUM( record ) AS record,Max(time) time
        <if test="period!=0">
            ,period
        </if>
        FROM integral
        <if test="period!=0">
            WHERE period=#{period}
        </if>
        GROUP BY openid ) i
        JOIN `user` u ON u.openid = i.openid
        ORDER BY
        record DESC,time
        LIMIT 10;
    </select>

    <select id="getRanking" resultType="com.onoff.wechatofficialaccount.entity.VO.Leaderboard"
            resultMap="getLeaderboardMap">
        SELECT
        i.num AS ranking,
        u.nickname AS nickname,
        u.headimgurl AS headimgurl,
        i.record AS record
        FROM
        (
        SELECT
        @i := @i + 1 AS num,
        i.openid AS openid,
        i.record AS record
        FROM
        ( SELECT openid, SUM( record ) AS record,
        Max( time ) time
        <if test="b!=0">
            ,period
        </if>
        FROM integral
        <if test="b!=0">
            WHERE period=#{b}
        </if>
        GROUP BY openid ORDER BY record DESC,time) i,
        ( SELECT @i := 0 ) t2
        GROUP BY
        i.openid
        ORDER BY
        num
        ) i
        JOIN `user` u ON u.openid = i.openid
        WHERE
        i.openid = #{a}
        ORDER BY
        record DESC;
    </select>

    <delete id="delIntegral">
        DELETE FROM integral
    </delete>

    <select id="queryScene" resultType="com.onoff.wechatofficialaccount.entity.UserScene">
      select COUNT(1) count,subscribe_scene scene FROM `user` GROUP BY subscribe_scene order by count desc
    </select>

    <resultMap id="getUserMap" type="com.onoff.wechatofficialaccount.entity.User">
        <result property="openId" column="openid"/>
        <result property="nickName" column="nickname"/>
        <result property="sex" column="sex"/>
        <result property="headImgUrl" column="headimgurl"/>
        <result property="subScribeTime" column="subscribe_time"/>
        <result property="subscribeScene" column="subscribe_scene"/>
        <result property="unionId" column="unionid"/>
        <result property="groupId" column="groupid"/>
    </resultMap>

    <resultMap id="getMaterialMap" type="com.onoff.wechatofficialaccount.entity.BAM.Material">
        <result property="mediaId" column="media_id"/>
        <result property="url" column="url"/>
    </resultMap>

    <resultMap id="getLeaderboardMap" type="com.onoff.wechatofficialaccount.entity.VO.Leaderboard">
        <result property="openId" column="openid"/>
        <result property="nickName" column="nickname"/>
        <result property="headImgUrl" column="headimgurl"/>
        <result property="record" column="record"/>
    </resultMap>

    <resultMap id="getRelationMap" type="com.onoff.wechatofficialaccount.entity.BAM.Relation">
        <result property="id" column="id"/>
        <result property="openId" column="openid"/>
        <result property="unionId" column="unionid"/>
        <result property="rType" column="rtype"/>
    </resultMap>
</mapper>