<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onoff.wechatofficialaccount.mapper.WechatMapper">
    <insert id="addUser" parameterType="com.onoff.wechatofficialaccount.entity.User">
        INSERT INTO user(openid,nickname,sex,headimgurl,subscribe_time,subscribe_scene,unionid,
        country,province,language,remark,groupid,tagid_list,city)VALUES(#{openId},#{nickName},#{sex},#{headImgUrl},
        #{subScribeTime},#{subscribeScene},#{unionId},#{country},
        #{province},#{language},#{remark},#{groupId},#{tagid_list},#{city})
    </insert>
    <delete id="delUser" parameterType="String">
        DELETE FROM user WHERE openid=#{openId}
    </delete>
</mapper>